.logo img{
	width: 105px;
	height: auto;
}
.navbar-nav {
	justify-content: space-between;
	align-items: center;
	width: 30vw;
	
}
.navbar-nav li a{
    font-size: 20px;
	margin-left: 40px;
}
.card{
	transition: all 0.5s ease;
}

.card:hover{
	transform:scale(1.1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/*Product*/

.product img{
	transition: all 0.5s ease;
}
.product img:hover{
	transform: scale(1.1);
}

