.logo img{
	width: 105px;
	height: auto;
}
.navbar-nav {
	justify-content: space-between;
	align-items: center;
	width: 30vw;
	
}
.navbar-nav li a{
    font-size: 20px;
	margin-left: 40px;
}
.card{
	transition: all 0.5s ease;
}

.card:hover{
	transform:scale(1.1);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/*Product*/

.product img{
	transition: all 0.5s ease;
}
.product img:hover{
	transform: scale(1.1);
}
i{
	height: 40px;
	width: 40px;
	background: #ffffff;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.contact-icons i{
	height: 40px;
	width: 40px;
	background: #12141c;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.contact-icons i{
	height: 40px;
	width: 40px;
	background: #d7d8df;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}

